.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  height: 50px;
  border-bottom: none;
  border-width: 1px;
  border-color: rgba(232, 12, 12, 1);
  
  left: 180px;
  top: 0;
  right: 0;

  z-index: 400;

}

.webpage-title {
  font-size: 44px;
  color: rgb(20, 1, 1);
  min-width: 310px;
  padding-top: 4px;
  padding-left: 10px;
}

.line {
  color: rgb(1, 0, 0);
  margin: 0;
  border-width: 0;
  border: solid 1px;
  z-index: 1200;
  position: relative;
  top: 44px;
  left: 180px;
  box-shadow: 0 -2px 2px rgba(232, 12, 12, 0.4);
  
}